<div id="header-section" class="container">
  <div class="row">
    <div id="header-logo" class="col-xs-4 visible-xs">
      <div id="logo"></div>
    </div>
    <div class="name col-xs-8 visible-xs">
      The Meaningful Content Fund
    </div>
    <div class="col-xs-12 col-md-9 col-md-offset-3">
      <h1>Celebrate Truly Meaningful Stories</h1>
      <p>The Meaningful Content Fund ensures the web's most inspiring content doesn’t go unseen. MCF sifts through the web to identify emotionally resonant stories and distributes them, peeling back the layers of what makes them meaningful.</p>
    </div>
  </div>
</div>

<a id="content"></a>
<div id="content-section">
  <div class="container">
    <div class="section row">
      <div class="header col-md-3 col-sm-4">
        <div class="title">Content</div>
      </div>
      <div class="view-all visible-sm col-sm-8 text-right">
        <p><a href="#">View All</a></p>
      </div>
      <div class="col-md-9 col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <%= render "card" %>
          </div>
          <div class="col-sm-4">
            <%= render "card" %>
          </div>
          <div class="col-sm-4">
            <%= render "card" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <%= render "card" %>
          </div>
          <div class="col-sm-4">
            <%= render "card" %>
          </div>
          <div class="col-sm-4">
            <%= render "card" %>
          </div>
        </div>
        <div class="more-link row">
          <div class="col-md-12">
            <a class="title" href="#">More Content <div style="float: right">&rarr;</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a id="stories"></a>
<div id="stories-section">
  <div class="container">
    <div class="section row">
      <div class="header col-md-3 col-sm-4">
        <div class="title">Stories</div>
      </div>
      <div class="view-all visible-sm col-sm-8 text-right">
        <p><a href="#">View All</a></p>
      </div>
      <div class="col-md-9 col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <%= render "card" %>
          </div>
          <div class="col-sm-4">
            <%= render "card" %>
          </div>
          <div class="col-sm-4">
            <%= render "card" %>
          </div>
        </div>
        <div class="more-link row">
          <div class="col-md-12">
            <a class="title" href="#">More Stories <div style="float: right">&rarr;</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
